@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

:root {
  /* --max-width: 1100px; */
  --border-radius: 5px;
  --border-radius-xs: 5px;
  --border-radius-sm: 10px;
  --border-radius-md: 15px;
  --border-radius-lg: 20px;
  --border-radius-xl: 25px;
  --joy-fontFamily-body: "Quicksand", sans-serif !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
  font-family: "Quicksand", sans-serif !important;
}

html,
body {
  font-family: "Quicksand", sans-serif !important;
}

a {
  text-decoration: none;
}

.swiper-button-prev {
  color: var(--joy-palette-primary-500) !important;
}
.swiper-button-next {
  color: var(--joy-palette-primary-500) !important;
}

.swiper-pagination-bullet {
  background: var(--joy-palette-primary-500) !important;
}

.swiper-pagination-bullet-active {
  background: var(--joy-palette-primary-600) !important;
}

.likeIcon {
  color: #ffff !important;
}

.MuiBreadcrumbs-separator {
  color: var(--joy-palette-background-footer);
}

.MuiTypography-root {
  text-transform: capitalize;
}

.react-tel-input .form-control:focus {
  border-color: var(
    --_Input-focusedHighlight,
    var(--joy-palette-focusVisible)
  ) !important;
  box-shadow: none !important;
}
.react-tel-input .form-control {
  border: 1px solid !important;
  border-color: #cdd7e1 !important;
  box-sizing: border-box;
  box-shadow: var(--joy-shadowRing, 0 0 #000),
    0px 1px 2px 0px
      rgba(var(--joy-shadowChannel, 21 21 21) / var(--joy-shadowOpacity, 0.08));
}

.react-tel-input .country-list {
  max-width: 250px;
}

.opt-container {
  margin-left: 5px;
}